services:
  # 1. Broker (NATS) for Dashboard update
  broker:
    image: nats:alpine
    networks:
      - swarm-net
    command: "-js -m 8222"
    ports:
#      - "4222:4222"
      - "8222:8222"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  # 2. Dashboard
  dashboard:
    image: dashboard:latest
    build:
      context: ./dashboard
      dockerfile: Dockerfile
    ports:
      - "8091:8080"
    environment:
      - BROKER_URL=nats://broker:4222
    networks:
      - swarm-net
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure

  node:
    image: node-worker:latest
    build:
      context: ./node
      dockerfile: Dockerfile
    environment:
      - BROKER_URL=nats://broker:4222
      - SWARM_SERVICE_NAME=tasks.node
    networks:
      - swarm-net
    deploy:
      replicas: 3
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure

networks:
  swarm-net:
    driver: overlay